.skills {
    .persentage-html {
        background-color: var(--color-greay-1);
        width: 300px;
        height: 16px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 16px;
        .persentages {
            width: 90%;
            height: 16px;
            background-color: #009688;
            border-radius: 16px;
            text-align: center;
            font-size: 12px;
            color: white;
            font-weight: 600;
        }
    }
    .persentage-css {
        background-color: var(--color-greay-1);
        width: 300px;
        height: 16px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 16px;
        .persentages {
            width: 90%;
            height: 16px;
            background-color: #009688;
            border-radius: 16px;
            text-align: center;
            font-size: 12px;
            color: white;
            font-weight: 600;
        }
    }
    .persentage-java {
        background-color: var(--color-greay-1);
        width: 300px;
        height: 16px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 16px;
        .persentages {
            width: 90%;
            height: 16px;
            background-color: #009688;
            border-radius: 16px;
            text-align: center;
            font-size: 12px;
            color: white;
            font-weight: 600;
        }
    }
    .persentage-prog {
        background-color: var(--color-greay-1);
        width: 300px;
        height: 16px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 16px;
        .persentages {
            width: 90%;
            height: 16px;
            background-color: #009688;
            border-radius: 16px;
            text-align: center;
            font-size: 12px;
            color: white;
            font-weight: 600;
        }
    }
}

.language {
    .persentage-bangla {
        background-color: var(--color-greay-1);
        width: 300px;
        height: 16px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 16px;
        .persentages {
            width: 99%;
            height: 16px;
            background-color: #009688;
            border-radius: 16px;
            text-align: center;
            font-size: 12px;
            color: white;
            font-weight: 600;
        }
      }
      .persentage-english {
        background-color: var(--color-greay-1);
        width: 300px;
        height: 16px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 16px;
        .persentages {
            width: 70%;
            height: 16px;
            background-color: #009688;
            border-radius: 16px;
            text-align: center;
            font-size: 12px;
            color: white;
            font-weight: 600;
        }
      }
      .persentage-hindi {
        background-color: var(--color-greay-1);
        width: 300px;
        height: 16px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 16px;
        .persentages {
            width: 90%;
            height: 16px;
            background-color: #009688;
            border-radius: 16px;
            text-align: center;
            font-size: 12px;
            color: white;
            font-weight: 600;
        }
      }
}
